; Config file for the EnergyAwareBaseStationSimulator
;
; Task arrivals process:
; deterministic|poisson|pareto arrival_rate (in tasks/s) [alpha (if pareto)]
; dynpoisson arrival_rate (in tasks/s) rate_step (in tasks/s) time_step (in seconds)
TASKS poisson 0.5
;
; Service times process:
; deterministic|uniform average_time (in seconds) [range length (if uniform)]
SERVICE deterministic 1
;
; Power consumption (in Watts):
; active idle sleep transition
POWER 224 130 75 260
;
; Transition times (in seconds):
; from_active_to_sleep from_sleep_to_active
TRANSITIONS 0 5
;
; Energy management scheme:
; single|multiple inactivity_time (in seconds) sleeping_time (in seconds)
; coalescing inactivity_time (in seconds) queue_threshold (in tasks) time_threshold (in seconds) [target_delay (if queue threshold = 0)]
;SCHEME multiple 1 2
SCHEME coalescing 0 2 10
;
